html {
  height: 100%;
}

body .frontpage{
    font-size: 25px;
    background-color: black;
    height: 1500px;
    width: auto;
}

#button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  /* overflow: hidden; */

}

.frontpage {
  background-image: url("homebackground.png");
  background-size: 1500px 2000px;
  float: center;
  /* overflow: center; */
  height: 1000px;
  width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

.frontpage li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.frontpage li a:hover {
    color: #0812B2;
    text-decoration: bold;
}

.logo {
  /* overflow: hidden; */
  position: absolute;
  padding: 20px 25px;
  width: 175px;
  height: 100px;
}
.logo img {
  width: 175px;
  height: 100px;
}

.bluelogo {
  /* overflow: hidden; */
  position: absolute;
  padding: 20px 25px;
}

.arrow {
  display:table-cell;
  vertical-align: sub;
  text-align:center;
  float: center;
}

.productpage img {
  /* background-image: url("productbackground.png"); */
  /* width: 1250px;
  height: 650px; */
  /* max-width: 1250px; */
  width: 100%;
  height: auto;
}




.title {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  top: 75%;
  left: 50%;
  transition: transform .1s;
  font-size: 50px;
}

.title:hover {
  transform: scale(1.3);
}

.profilepage {
  background-color: white;
}

.profilepage li a {
  display: block;
  color: #347cff;
  text-align: center;
  padding: 30px 35px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.profilepage li a:hover {
  background-color: black;
}

.feedpage li a {
  display: block;
  color: #347cff;
  text-align: center;
  padding: 30px 35px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


.feedpage li a:hover {
  background-color: black;
}

.friendsbar img {
  float: center;
}

.myshocktitle {
  display: block;
  color: #3369ca;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transition: transform .1s;
  font-size: 25px;
  padding: 10px;
}

.profilebox {
  display: block;
  background-color: #3369ca;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transition: transform .1s;
  font-size: 25px;
  padding: 10px;
}

.myshock {
  float: top;
  vertical-align: middle;
  float: right;
}

#button2 {
  background-color: #3369ca;
  background-repeat:no-repeat;
  border: 20px;
  cursor:pointer;
  float: center;
  text-align: center;
  margin: auto;
  overflow: hidden;

}

.scoreboard img {

}
