body {
    font-size: 25px;
    background-color: black;
}

.frontpage {
  background-image: url("homebackground.png");
  background-size: 1500px 700px;
  width: 1250px;
  height: 650px;
  float: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

li a:hover {

    color: #0812B2;
    text-decoration: bold;
}

.logo {
  overflow: hidden;
  position: absolute;
  padding: 20px 25px;
}

.arrow {
  display:table-cell;
  vertical-align: sub;
  text-align:center;
  float: center;
}

.productpage {
  background-image: url("productbackground.png");
  width: 1250px;
  height: 650px;
  float: center;
}




.title {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  top: 75%;
  left: 50%;
  transition: transform .1s;
  font-size: 50px;
}

.title:hover {
  transform: scale(1.3);
}
