body {
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3E5BA;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

li a:hover {
    background-color: #79B281;
}

.logo {
  align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B3E5BA;
  position: sticky;
  top: 0;
}

.watch {
  position:absolute;
  left:30%;
  top:30%;
  margin:-75px 0 0 -135px;
}

.case {
  position:absolute;
  left:50%;
  top:50%;
  margin:-75px 0 0 -135px;
}

div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  position:absolute;
  left:40%;
  top:75%;
  margin:-75px 0 0 -135px;
  overflow: hidden;
  background-color: #B3E5BA;

}
